@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: rgb(211, 216, 232);
  scroll-behavior: smooth !important;
}
.logo-svg {
  width: 200px; /* Default width for larger screens */
  height: 100px; /* Default height for larger screens */
}

@media (max-width: 768px) {
  .logo-svg {
    width: 150px; /* Adjust width for medium-sized screens */
    height: 75px; /* Adjust height for medium-sized screens */
  }
}

@media (max-width: 480px) {
  .logo-svg {
    width: 120px; /* Adjust width for smaller screens like mobile */
    height: 60px; /* Adjust height for smaller screens like mobile */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}
#sticky-card-5 {
  --index: 5;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}